rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Global rule: Allows anyone to read and write all data (remove this rule if you need security)
    match /{document=**} {
      allow read, write: if true;
    }

    // Users collection rules
    match /users/{userId} {
      allow create: if true;

      // Allow updates, but not if the username is being changed
      allow update: if request.resource.data.username == resource.data.username;

      // Allow read if the user is authenticated
      allow read: if request.auth != null;
    }
  }
}
