.chatListPanel {
  display: flex;
  flex-direction: column;
  min-width: 325px;
  max-width: 400px;

  .logout {
    width: 300px;
    padding: 10px;
    margin-left: 15px;
    margin-top: 10px;
    color: white;
    background-color: #DC143C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}