.chatListPanel {
  display: flex;
  flex-direction: column;
  min-width: 325px;
  max-width: 450px;

  .logout {
    max-width: 90%;
    padding: 10px;
    color: white;
    background-color: #DC143C;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
  }
}