* {
  box-sizing: border-box;
  font-family: Geneva, Verdana, Helvetica, sans-serif;
  margin: 0;
}

html {
  font-size: 18px;
  letter-spacing: .6px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-container {
  width: max(90vw, 960px);
  height: 90vh;
  display: flex;
  background-color: #ECECEC;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 255, 0.3);

  > * {
    flex-grow: 1;
  }

  .Toastify {
    position: absolute;
  }
}

input {
  font-size: 1rem;
  padding: 10px 20px;
}

textarea {
  font-size: 1rem;
}

button {
  font-size: 1rem;
}

p {
  color: black;
}
